i.icon-star {
  color: #00888B;
}

.avgs i.icon-star {
  font-size: 1.1em;      
}

div.rev-title {
  display:flex;
  justify-content: flex-start;
  align-items:baseline;
}

span.title-text {
  font-size: 28px;
  font-weight: bold;
  padding-right: 0.5em;
}

.rating {
  display:flex;
  justify-content: space-between;
}